* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.708);
    color: white;
    /* height: 100px; */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hed {
    /* display: flex; */
    justify-content: center;
    font-size: 12px;
    margin-left: 230px;
}

.hed h5 {
    justify-content: center;
    text-align: center;
}
.menu{
    display: flex;
    gap: 20px;
    margin-left: 300px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    color: white;
}
.menu a{
    text-decoration: none;
    color: white;
}

.account {
    margin-left: auto;
    /* margin-top: 25px; */
    margin-right: 200px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* width: 150px; */
}

.background {
    background-image: url("./image1.webp");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    position: relative;
    color: white;
    /* height: 600px; */

}

.background-content {
    font-size: 20px;
    margin-left: 200px;
    word-spacing: 4px;
    cursor: pointer;
}

.background-content h3 {
    letter-spacing: 6px;
}
.background-content h1{
    margin-top: 20px;
    font-size: 80px;
}
.background-content h2{
    margin-top: 20px;
}

.background-content button {
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 6PX;
    background-color: black;
    margin-top: 30px;
}

.background-content button:hover {
    background-color: white;
    color: black;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.hreo-1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    cursor: pointer;
}

.image img {
    width: 500px;
    height: 400px;
}

.text {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.text h3 {
    letter-spacing: 3px;
    font-size: 15px;
}

.text h6 {
    letter-spacing: 6px;
    color: gray;
    /* font-size: 20px; */
}

.text p {
    color: rgb(225, 192, 149);
    font-size: 15px;
}

.but {
    display: flex;
    justify-content: center;
    margin: 60px 30px 60px 30px;
}

.but button {
    /* border: 1px solid black; */
    padding: 10px 25px;
    letter-spacing: 5px;
    background-color: #817c6f;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.back-video {
    display: flex;
}

.video {
    /* position: relative; */

}

.video video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.text-video {
    font-size: 20px;
    margin-right: 300px;
    word-spacing: 4px;
    position: relative;
    float: right;
    margin-top: 750px;
}

.text-video h2 {
    letter-spacing: 6px;
    color: white;
    font-size: 60px;
}

.text-video button {
    padding: 15px 20px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 5PX;
    margin-left: 140px;
}
.image1{
    /* display: flex; */
    width: 100%;
    height: 100%;    
}
.image1 img{
    width: 100%;
    height: 100%;
}
.image-1 {
    background-image: url("./image5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    /* align-items: center; */
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
}

.text-1 {
    /* font-size: 20px; */
    margin-top: 150px;
    margin-left: 60px;
    /* padding: 40px; */
    height: 300px;
    width: 350px;
    /* border: 2px solid black; */
    background-color: white;
    border-spacing: 2px;
}

.text-2{
    padding: 50px 0px 35px 35px;
    margin: 10px;
    border: 2px solid black;
}
.text-1 h1 {
    font-size: 25PX;
    padding-bottom: 10px;
}
.text-1 p {
    padding-top: 7px;
    font-size: 20px;
}
.text-1 button{
    margin-top: 30px;
    letter-spacing: 6PX;
}
.text-1 button {
    padding: 10px;
    background: transparent;
    border: 1px solid #ab9a6f;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #ab9a6f;
    border-radius: 6px;
}

.text-1 button:hover {
    background-color: #ab9a6f;
    color: black;
}
.footer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    justify-content: center;
    gap: 140px;
}
.footer p{
    cursor: pointer;    
}
.footer-1{
    color: white;
    padding: 50px;
    line-height: 40px;
}
.footer-2{
    color: white;
    padding: 50px;
    line-height: 40px;
}
.footer-3{
    color: white;
    padding: 50px;
    line-height: 40px;
}
.footer-4{
    color: white;
    padding: 50px;
    line-height: 20px;
}
.footer-4 h5{
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.footer-4 input{
    padding: 10px;
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.footer-4 input::placeholder{
    color: white;
}
.footer-4 button{
    padding: 10px 5px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.icon{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.ddd{
    color: white;
}